@import "tailwindcss";

@theme {
  --color-primary: #6366f1;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    background-color: var(--color-slate-100);
    font-family: var(--font-sans);
  }
}